body {
    text-align: center;
    background: #275efe;
    min-height: 95vh;
    margin: 0;
    padding: 0;
    font-family: "Myriad Pro", "Arial", sans-serif;
    font-size: 24px;
}

.dropdown-menu {
    margin-top: 20vh;
    min-width: 15em;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    min-height: 3em;
    max-height: 3em;
    overflow: hidden;
    top: 0.5em;
    text-align: left;
    white-space: nowrap;
    color: #444;
    outline: none;
    background-color: #ffffff;
    border: 0.06em solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.dropdown-menu input:focus+label {
    background: #def;
}

.dropdown-menu input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
}

.dropdown-menu label {
    height: 3em;
    display: block;
    border-top: 0.06em solid #d9d9d9;
    line-height: 3em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
}

.dropdown-menu label:nth-child(2) {
    margin-top: 3em;
    border-top: 0.06em solid #d9d9d9;
}

.dropdown-menu input:checked+label {
    display: block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropdown-menu input:checked+label:nth-child(2) {
    margin-top: 0;
    position: relative;
}

.dropdown-menu::after {
    content: "";
    position: absolute;
    right: 0.8em;
    top: 1.3em;
    border: 0.3em solid #3694d7;
    border-color: #3694d7 transparent transparent transparent;
    transition: 0.4s all ease-in-out;
}

.dropdown-menu.expan {
    border: 0.06em solid #3694d7;
    background: #fff;
    border-radius: 0.25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height: 15em;
}

.dropdown-menu.expan label {
    border-top: 0.06em solid #d9d9d9;
}

.dropdown-menu.expan label:hover {
    color: #3694d7;
}

.dropdown-menu.expan input:checked+label {
    color: #3694d7;
}

.dropdown-menu.expan::after {
    transform: rotate(-180deg);
    top: 0.55em;
}